<nav class="navbar navbar-expand-lg navbar-dark" style="background-color: rgb(7, 16, 97);">
    <a class="navbar-brand" href="/admin">
        <img src="../../public/images/loremipsum.jpg" width="30" height="30" class="d-inline-block align-top" alt="">
    </a>
    <a class="navbar-brand" href="/admin">Home</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <a class="nav-item nav-link active" href="/admin/adddonor">Add Donor <span class="sr-only">(current)</span></a>
        <a class="nav-item nav-link active" href="/admin/addhospital">Add Hospital</a>
        <a class="nav-item nav-link active" href="/admin/addrequirement">Add Requirement</a>
        <a class="nav-item nav-link active" href="/admin/closederequirements">Closed Requirements</a>
        <a class="nav-item nav-link active" href="/logout">Logout</a>
      </div>
    </div>
  </nav>