<%- include('partials/header.ejs') -%>
<body>
    <div>
        <h3>Welcome <%= username %></h3>
    </div>
    <br>
    <br>
    <div>
        <a href="/admin/adddonor"><button>Add Donor</button></a>
        <a href="/admin/addrequirement"><button>Add Requirement</button></a>
        <a href="/admin/addhospital"><button>Add Hospital</button></a>
    </div>
</body>