
<%- include ('partials/header.ejs'); -%>

<body>
    <div>
        <h1>NSS CET</h1><br>
        <h3>Blood cell</h3>
    </div>
    <div>
        <a href="/login"><button>Login</button></a>
    </div>
</body>